.course-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.course-list-item-container {
  padding: 1rem;
  cursor: pointer;

  :hover {
    background: #FFFFFF;
  }
}

.title-text {
  font-size: 1.5rem;
  padding: 1rem;
}

.course-list-items-container {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
