.title-text {
  font-size: 1.5rem;
  padding: 1rem;
}

.title-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.go-back-btn {
  cursor: pointer;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.item-title {
  opacity: 0.75;
}
